<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mini-Blogger</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<style type="text/css">
		.fit_to{
			max-width: 100vw;
			max-height: 100vh;
		}

		img{
			max-height: 100vh;
			opacity: 0.8;

		}

		.heading{
			position: absolute;
			z-index: 1;
			top: 30vh;
			text-align: center;
			color: #fff;
			font-family: Roboto;	
		}

		h1{
			font-size: 5rem;
			font-weight: 600;
		}

		h2{
			font-size: 3rem;
			font-weight: 600;
		}

		.heading .btn{
			font-size: 2rem;
    		font-weight: 600;
		}
	</style>
</head>
<body>
   <div class="row justify-content-center">
	<div class="heading">
        <h1 style="color:black;">Welcome to Mini-Blogger</h1>
        <h4>Read and write your blogs here! </h4>
        <button type="button" class="btn btn-sm btn-dark" style="font-size:20px;" onclick="window.location.href = '/blogs'">Get Started!</button>
    </div>
   </div>



	<frame class="fit_to container">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner fit_to">
      <div class="carousel-item active">
        <img src="https://www.w3schools.com/w3css/img_forest.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://filedn.com/ltOdFv1aqz1YIFhf4gTY8D7/ingus-info/BLOGS/Photography-stocks3/stock-photography-slider.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</frame>

</body>
</html>
