<%- include ('partials/header.ejs'); -%>

<div style="    text-align: center;">

<h1>Sign Up!</h1>

<form action="/signup" method="POST" style="  display:inline-grid; margin-top:40px; text-align: center;">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button>Submit</button>
</form>



</div>